.widget-BlockedTasks-helper { background:#dceaf8 url(helper.png) no-repeat center center; width:225px; height:300px; }
.widget-BlockedTasks { background-color:#dceaf8; color:#4975A1; font-weight:bold;}

